.postimg {
  max-width: 100%;
  width: 1920px;
  height: 1080px;
  background-image: url(../img/thumb.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 40px;
  display: block;

}
.posttxt {
  width: 1000px;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: -10em;
  margin-bottom: 4em;
  font-size: 15t;
}
table {
  text-align: center;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}