@font-face {
  font-family: 'HallymGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'HallymGothic-Regular';
  font-weight: 500;
}

body {
  background-color: #eee;
  background-size: cover;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.postimg {
  max-width: 100%;
  width: 1920px;
  height: 1080px;
  background-image: url(../img/thumb.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 40px;
  display: block;

}
.posttxt {
  width: 1000px;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: -10em;
  margin-bottom: 4em;
  font-size: 15t;
}
.paging {
  margin-bottom: 10%;
}
table {
  text-align: center;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}
.btns {
  margin-left: 6em;
  margin-right: 7em;
}

.search-box {
  position: absolute;
  top: 10%;
  left: 80%;
  height: 50px;
  padding: 10px;
  margin-left: 2em;

}

.search-btn {
  display: none;
}

.search-txt {
  float: left;
  padding: 0;
  width: 150px;
  background: none;
  border: 2px solid var(--bs-cyan);
  outline: none;
  color: white;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width:1010px) {
  .search-box {
    position: absolute;
    top: 10%;
    left: 45%;
  }
  @media (max-width: 500px) {
    .paging {
      margin-bottom: 15%;
    }
    .search-box {
      position: absolute;
      top: 10%;
      left: 35%;
    }
    .search-txt {
      width: 90px;
    }
  }
}
@media (min-width: 401px) {
  .postimg {
    width: 700px;
    height: 700px;
    background-image: url(../img/thumb.jpg);
  }
}

@media (min-width: 701px) {
  .postimg {
    width: 1000px;
    height: 1000px;
    background-image: url(../img/thumb.jpg);
  }
}